/* body {
    background-color: #161F26;
    color: #ffffff;
    text-align: justify;
}

#center-box {
    background-color: #062F4F;
    float: none;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3);
}

hr {
    width: 90%;
    border-width: 2px;
    border-color: white;
}

h3 {
    text-align: left;
    font-weight: bold;
}

.header-text {
    margin-top: 20px;
    text-align: center;
}

.subheader {
    text-align: center;
    font-size: 20px;
}

.btn-expand {
    width: 100%;
}

.btn-default {
    background-color: #0A5082;
    color: white;
    border-radius: 4px;
    border: 1px solid #021B2D;
}

.btn-default:hover {
    background-color: #0A5082;
    color: white;
    border: 1px solid white;
}

.btn-default:active:focus,
.btn-default:focus {
    background-color: #062F4F;
    color: white;
    border: 1px solid white;
} */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #253440;
    color: white;
    z-index: 2;
}

a {
    color: #49c7f9;
}

a:hover {
    color: #4692e3;
}

#background-image {
    position: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 0;

    display: block;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.main {
    text-align: center;
    text-shadow: 3px 3px 4px black;
}

#main {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -125px;
}

#main-text {
    font-weight: 900;
    font-size: 5rem;
}

.navbar {
    padding: 20px;
}

/* Desktop */
@media (min-width: 768px) {
    .navbar-light {
        background-color: transparent;
    }
}

/* Tablet */
@media (max-width: 991.98px) {
    .navbar-light {
        background-color: #1B262E;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .btn-primary {
        min-width: 0px !important;
        width: 100%;
        margin-left: 2px !important;
        margin-right: 2px !important;
    }

    .button-container-flex {
        display: flex;
    }
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    font-size: 1.2rem;
}

.navbar-light .navbar-nav .active>.nav-link {
    font-weight: 900;
}

#page-title {
    position: relative;
    width: 100%;
    top: 10px;
    text-align: center;
    height: 200px;
    z-index: auto;
}

#page-title h1 {
    z-index: 100;
}

#main-content {
    background-color: #253440;
    position: absolute;
    width: 100%;
    padding-top: 150px;
}

#page-icon {
    position: relative;
    background-color: #1B262E;
    width: 210px;
    height: 210px;
    margin-bottom: -105px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 105px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    z-index: 10;
    border: #253440 solid 10px;
}

.game-list-thumbnail {
    width: 100%;
    border-radius: 1px;
    border: #76A7CC solid 2px;
    margin-bottom: 20px;
}

.big-notice {
    text-align: center;
    padding: 50px;
}

.store-icon {
    max-height: 100%;
    max-width: 1.2rem !important;
    fill: white;
    padding-bottom: 3px;
}

.btn-primary {
    background-color: #0A5082;
    color: white;
    border-radius: 4px;
    border: 2px solid #021B2D;
    min-width: 180px;
    font-size: 1.2rem;
    transition: color .05s ease-in-out, background-color .05s ease-in-out, border-color .05s ease-in-out, box-shadow .05s ease-in-out;
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.btn-primary:hover {
    background-color: #0A5082;
    color: white;
    border-color: white;
}

.btn-primary:active {
    background-color: #072f4d !important;
    border-color: black !important;
}

.btn-primary:focus {
    box-shadow: none !important;
    border-color: white;
}

.btn-primary:active:focus {
    border-color: white !important;
}

.btn-big {
    width: 400px;
    margin: auto;
}

.button-container-flex {
    margin-bottom: 4px;
}

.button-center-container {
    display: flex;
}